.info-panel {
    background-color: rgba(247, 249, 253, 0.6) !important;
    border: 1px solid rgba(222 231 249) !important;
    width: 15%;
    max-width: 15%;
    position: fixed;
    left: 20px;
    top: 50px;
    text-align: left;
    padding: 1em;
}


/* ------------------------------------------------------------------------- */

.panel-select-button {
    font-size: 0.8em !important;
    font-weight: bold !important;
    color: #858585 !important;
    border-radius: 0 !important;
}

.button-selected {
    font-size: 0.8em !important;
    font-weight: bold !important;
    color: #161616 !important;
    border-bottom: 2px solid black !important;
}

.heading {
    font-size: 1.5em;
    font-weight: bold;
}

.panel-item-heading {
    font-size: 0.7em !important;
    font-weight: bold !important;
    color: #858585 !important;
    margin-bottom: 0.2em !important;
}

.panel-item-value {
    margin-top: 0.2em !important;
    font-size: 0.8em !important;
}


.identifier-item-heading {
    border-top: #858585 0.15em dotted !important;
    font-size: 0.6em !important;
    font-weight: bold !important;
    color: #858585 !important;
    padding-top: 0.5em !important;
    margin-bottom: 0.2em !important;
}

.identifier-item-value {
    color: #858585 !important;
    margin-top: 0.2em !important;
    font-size: 0.6em !important;
}


.slider-item-heading {
    font-size: 0.7em !important;
    font-weight: bold !important;
    color: #858585 !important;
    margin-bottom: 0.2em !important;
}

.MuiSlider-rail {
    color: #858585 !important;
}