.nav-bar {
    position: absolute;
    left: 20px;
    top: 7px;
    margin: 0px;
    background: none;
}

.project-selector {
    background: none;
    font-size: 0.7em;
    font-weight: 800;
    border: none;
    text-decoration: none;
}

.model-selector {
    background: none;
    font-size: 0.7em;
    font-weight: 300;
    border: none;
    text-decoration: none;
}