.results-view {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 80%;
    background-color: rgba(248, 248, 248, 0.9) !important;
}

.results-view-titlebar {
    border-bottom: #e0e0e0 1px solid;
}

.results-view-title {
    font-size: 0.8em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}