.file-upload-zone,
.file-upload-zone-drag-over,
.file-upload-zone-dropped {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    height: 100px;
    margin: 40px;
    padding: 40px;
    text-align: center;
}

.file-upload-zone-text {
    padding: 40px;
}

.file-upload-zone-drag-over {
    background-color: #f5f5f5;
}

.file-upload-zone-dropped {
    background-color: #e5e5e5;
}

.upload-progress-bar-empty {
    position: absolute;
    bottom: 0;
    height: 5px;
}

.upload-progress-bar-fill {
    position: absolute;
    bottom: 0;
    margin: 0;
    height: 4px;
    background-color: #1976d2;
}

.file-upload-speed-warning {
    font-size: 0.8em;
}