.viz-state-menubar {
    text-align: center;
    padding: 0.35em;
}

.viz-state-button {
    width: 40px;
    height: 40px;
    border-style: none;
    border-radius: 50%;
    cursor: pointer;
    /* box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.1); */
    background: none;
}

.viz-state-button:hover {
    background-color: #deb5de;
}

.viz-state-button.active {
    background-color: #ff1bff;
}

.viz-state-button svg {
    pointer-events: none;
}